/*Default*/
.smn-calendar {
    width: 100%;
    height: auto;
}

.smn-calendar div ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.smn-calendar div ul li {
    float: left;
    display: block;
    width: 14.2857143%;
    height: 14.2857143%;
    list-style: none;
    text-align: center;
    line-height: 300%;
    outline: solid 1px #999;
}

/* Year*/
.smn-calendar .year {
    width:100%;
    line-height: 300%;
    text-align: center;
}

/* Week */
.smn-calendar .week ul li {
    font-weight: 400;
    background: #AAA;
    color: #FFF;
}

/* Days */
.smn-calendar .days ul li {
    font-weight: 300;
    background: #FFF;
    color: #AAA;
}
.smn-calendar .days ul li a {
    display: block;
    width:100%;
    height: 100%;
    color:#888;
}
.smn-calendar .days ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}