<!--<calendar-semina></calendar-semina>-->

<div class="smn-calendar">
    <div class="header">Semina Calendar</div>
    <div class="month">
        <div>{{year}}년 {{month+1}}월</div>
        <div class="month-control">
            <button class="glyphicon glyphicon-menu-left" ng-click="prevMonth()"></button>
            <button ng-click="getToday()">Today</button>
            <button class="glyphicon glyphicon-menu-right" ng-click="nextMonth()"></button>
        </div>
    </div>
    <div class="week">
        <ul>
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
        </ul>
    </div>
    <div class="days">
        <ul>
            <li ng-repeat="day in dates">
                <a>{{day.num}}</a>
            </li>
        </ul>
    </div>
</div>